<h1>Create New Article</h1>

<form method="post" action="/articles">
<label>Title: <input type="text" name="title"></label><br>
<label>Content: <input type="text" name="content"></label><br>
<input type="submit" id="submit">
</form>